{% extends "layout.html" %}

{% block title %}Give a book{% endblock %}

{% block main %}
    <form  class="form-main" action="/give" method="post">
        <div>
            <select class="form-field" name="friend" placeholder="Select a friend" type="text">
            {% for friend in friends %}
                <option value="{{ friend }}">{{ friend }}</option>
            {% endfor %}
            </select>
        </div>
        <div>
            <select class="form-field" name="book" placeholder="Select a book" type="text">
                {% for book in books %}
                    <option value="{{ book }}">{{ book }}</option>
                {% endfor %}
                <p>You can't give away a borrowed book.</p>
            </select>
        </div>
        <button class="button-form" type="submit">Give</button>
    </form>
    <br><br>
    <a href="/giveback">Give a book back</a>
{% endblock %}